@keyframes pokeOut {
  0% {
    transform: opacity(0);
  }
  100% {
    transform: opacity(1);
  }
}

.Tombstone {
  width: 20px;
  height: 25px;
  background: gray;
  border-radius: 10px 10px 0 0;
  border: 2px solid darkgray;
  position: relative;
  bottom: 0;
  right: 20px;
  position: absolute;
  animation: pokeOut 2s ease-out forwards;
}

.Tombstone::before {
  content: "RIP";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  font-size: 6px;
  color: black;
}
