.Container {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  .Container {
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.Row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px auto auto auto auto 100px 100px;
  border-bottom: 1px solid black;
  gap: 10px;
  padding-block: 10px;
}

.Bold {
  font-weight: bold;
}

.End {
  justify-self: end;
}

@media (max-width: 860px) {
  .Container {
    display: none;
  }
}
