@keyframes pokeOut {
  0% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Tombstone {
  width: 20px;
  background: darkgray;
  border-radius: 10px 10px 0 0;
  border: 2px solid gray;
  position: relative;
  bottom: 0;
  right: 20px;
  position: absolute;
  animation: pokeOut 1s ease-out forwards;
}

.Tombstone::before {
  content: "RIP";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  font-size: 6px;
  color: black;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s; /* Delay to match the pokeOut animation */
}
