.Graveyard {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

.Graves {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: absolute;
  left: 10%;
}

.Grave {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.GraveyardGround {
  width: 100vw;
  height: 20px;
  background: linear-gradient(to bottom, #058c5b, #038844);
  position: absolute;
  bottom: 0;
  left: 0;
}

.GraveyardGround::after {
  content: "";
  position: absolute;
  bottom: 20px; /* Adjust based on the height of GraveyardGround */
  left: 0;
  width: 100vw;
  height: 50px; /* Adjust height for the rolling hill effect */
  background-color: #058c5b;
  border-radius: 50%;
  bottom: -40%;
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  .GraveyardGround {
    background: linear-gradient(to top, #013220, #014421);
  }

  .GraveyardGround::after {
    background-color: #014421;
  }
}
