.PlantGrid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
  .PlantGrid {
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (min-width: 750px) {
  .PlantGrid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
  }
}
