.Section {
  margin: 16px 0;
}

.PlantInfo {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.Sprouted {
  border-color: #63ae12;
  border-width: 3px;
}

@media (prefers-color-scheme: light) {
  .Card {
    border-color: black;
  }

  .PlantInfo {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
