.Plant {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.PlantSprouted {
  border-color: #63ae12;
}

.Cell {
  display: block;
}

.Name {
  margin-bottom: 8px;
}

.Cell,
.PlantedDate {
  margin-bottom: 4px;
}

@media (prefers-color-scheme: light) {
  .plant {
    border-color: black;
  }
}

@media screen and (min-width: 750px) {
  .Cell {
    display: none;
  }

  .Plant {
    height: 100%;
  }
}
