.PlantGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-auto-flow: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .PlantGrid {
    border-color: black;
  }
}

@media screen and (min-width: 750px) {
  .PlantGrid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}
