.sunnyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #87ceeb, #4682b4);
  overflow: hidden;
  z-index: -1;
}

.sun {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 50px yellow;
  animation: move-sun 60s linear infinite;
}

.moon {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 50px white;
  animation: move-moon 60s linear infinite;
}

@keyframes move-sun {
  0% {
    top: 40%;
    left: 0%;
  }
  20% {
    top: 30%;
    left: 20%;
  }
  40% {
    top: 20%;
    left: 40%;
  }
  60% {
    top: 20%;
    left: 60%;
  }
  80% {
    top: 30%;
    left: 80%;
  }
  100% {
    top: 40%;
    left: 100%;
  }
}

@keyframes move-moon {
  0% {
    top: 40%;
    left: 0%;
  }
  20% {
    top: 30%;
    left: 20%;
  }
  40% {
    top: 20%;
    left: 40%;
  }
  60% {
    top: 20%;
    left: 60%;
  }
  80% {
    top: 30%;
    left: 80%;
  }
  100% {
    top: 40%;
    left: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .sun {
    display: block;
  }

  .moon {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .sun {
    display: none;
  }

  .moon {
    display: block;
  }
}
